

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


body {
  display: flex;
  flex-direction: column;
  background-color: azure;
}

#dataGosterimYeri {
  margin: auto;
  padding: 0px;
  border-radius: 30px;
  width: 20em;
  height: 30em;
  background-color: rgb(244, 240, 240);
  text-align: center;
  box-shadow: 2px 2px 2px 2px;
}

#ustContainer {
  display: flex;
  flex-direction: row;
  margin: auto;

  padding: 2em;
}

img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 1em;
}
img:hover {
  transform: scale(1.1);
}

h1 {
  color: brown;
  margin-top: -0.5em;
  font-size: 25px;
}

h2 {
  color: red;
  margin: 5px;
  font-size: 20px;
}

li {
  text-align: left;
  margin-left: 2em;
}

.Name {
  width: 9em;
  text-align: center;
  margin: auto;
  border-radius: 35px;
  background-color: hsl(244, 46%, 75%);
  box-shadow: 2px 2px rgb(109, 109, 175);
}

#altCard {
  border: none;
  width: 17em;
  margin: auto;
  border-radius: 35px;
  margin-top: 1em;
  background-color: hsl(115, 49%, 58%);
  padding: 0.3em;
  box-shadow: 2px 2px green;
}

#hobiler {
  margin: auto;
  width: 16.8em;
  border-radius: 35px;
  margin-top: 1em;
  padding: 0.5em;
  background-color: hsl(20, 52%, 52%);
  font-weight: bolder;
  box-shadow: 2px 2px  rgb(152, 87, 27);
  
}

.altCard {
  color: rgb(58, 58, 155);
}

#sec {
  width: 20em;
  height: 3em;
  margin: auto;
  border-radius: 35px;
  border: none;
  background-color: rgba(23, 4, 7, 0.807);font-weight: bolder;
  color: rgb(221, 14, 14);
  
  
}
#sec:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.resultDiv {
  margin: auto;
  text-align: center;
  border: 2px solid red;
  width: 15em;
  border-radius: 35px;
  background-color: rgb(244, 240, 240);

}

.resultDiv p {
    width: 10em;
    font-size: 20px;
    margin: auto;
    border-radius: 35px;
    margin-top: 1em;
    background-color:hsl(244, 46%, 75%); 
    color: brown;
    font-weight: bolder;
    box-shadow: 1px 1px rgb(109, 109, 175);
    
  }

#choosenOne {
  text-align: center;
  font-size: 25px;
  margin-top: 1em;
  color: brown;
  font-family: 'Rock Salt', cursive;
  font-weight: bolder;

}


#sonraki {
  width: 50px;
  height: 50px;
  background-color: blue;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 25% 50%);
  margin-top: 15em;
  margin-left: 4em;
}
#sonraki:hover {
  cursor: pointer;
  transform: scale(1.3);
}

#onceki {
  width: 50px;
  height: 50px;
  background-color: blue;
  clip-path: polygon(100% 0, 0 50%, 100% 100%, 75% 50%);
  margin-top: 15em;
  margin-right: 4em;
}

#onceki:hover {
  cursor: pointer;
  transform: scale(1.3);
}


#congratulation {
    animation: jump 1s infinite;
    /* Kelimenizin diğer stil ayarları (renk, font, vs.) */
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Yukarıya doğru zıplama mesafesi */
    }
}